.product-single__media-group-wrapper {
  position: relative;
}
.product-single__media-group-wrapper .product-single__thumbnail {
  min-width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
}

.dark {
  background-color: #ededed;
  padding: 0.4rem 0 2rem 0;
  margin: 5rem 0 1rem 0;
}

.usp-icons {
  text-align: center;
}
@media screen and (min-width: 29.6875rem) {
  .usp-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 48rem) {
  .usp-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
